#footer{
    background-color: #6c42c3;
    width: 100vw;
    height: 24vh;
    bottom: 0;
    position: absolute;
}

#infoDiv{
    left: 20px;
    margin-top: 10px;
}

#copyright{

    font-size: 0.8rem;
    color: #d8c7fd;
    text-align: right;
  
}  

strong{
    color: #ba99ff;
    font-weight: bold;
    letter-spacing: 1px;
}

a{
    color: grey;
    margin: 5px;
    text-decoration: none;
    font-size: 13px;
    
}

a:hover{
    color: white;
    margin-right: 20px;
}

#sloganDiv{
    margin: 0 auto;
    text-align: center;
}

#socialDiv{
    margin-top: 10px;
}

#footerLogo{
    height: 4em;
}

#footerlogoDiv{
    margin: auto;
    width: 200px;
    margin-top: 20px;
}
