#container{
    display: inline-block;
    background-color: #6c42c3;
    max-width: 100%;
    min-width: 100%;
    height: 3em;
    bottom: 0;
    /* position: absolute; */
    overflow: visible;
}

#infoDiv{
    left: 20px;
    margin-top: 10px;
    /* position: absolute; */
}

#copyright{
    /* position: absolute; */
    right: 20px;
    top: 10px;
    font-size: 0.8rem;
    color: #ba99ff;
    text-align: right;
  
}  

strong{
    color: #ba99ff;
    font-weight: bold;
    letter-spacing: 1px;
}

a{
    color: grey;
    margin: 5px;
    text-decoration: none;
    font-size: 13px;
    
}

a:hover{
    color: white;
    margin-right: 20px;
}

#sloganDiv{
    margin: 0 auto;
    text-align: center;
}

#socialDiv{
    margin-top: 10px;
}

#footerLogo{
    height: 4em;
}

#footerlogoDiv{
    margin: auto;
    width: 200px;
    margin-top: 20px;
}
