.navbar {
    position: sticky;
    margin-bottom: 10px;
    width: 100%;
    height: auto;
    background-color: #0500a0aa;
    text-align: center;
    display: block;
    padding-left: 20px;
    padding-bottom: 20px;
}

.title {
    font-size: 45px;
    color: white;
    width: 50%;
    margin: auto;
}
#subtitle {
    font-size: 18px;
    margin-top: 20px;
}

.menu{
    float: right;
}

ul{ 
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #0500a0aa;;
}

li {
    float: left;
    top: 0;
    position: relative;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-right: 1px solid rgba(47, 178, 243, 0.381);
}

li a:hover {
    background-color: rgb(10, 101, 248);
}

#icon{
    height: 100px;
    float: left;
    margin-top: 10px;
}


#fbLogin{
    background-color: blue;
    color: white;
    font-size: 15px;
    height: 50px;
    width: auto;

    overflow: hidden;
    float: left;
    line-height: 50px;
    vertical-align: center;
    

}
