#youtube{
    -ms-flex: 1 1;
    flex: 1 1;
    max-width: 40vw;
    margin: 0 auto;
    background-color: #282b2c;
    padding-top: 10v;
    border: solid 4px #6926b6;
    border-radius: 25px;
    font-size: 10px;
    text-align: center;
    margin-top: 5%;
}

.thumbnails{
    padding: 50px;
    border-radius: 20px;
}

#youtubeLogo{
    height: 60px;
}

#list{
    background-color: rgb(182, 56, 56);
    margin: 20px;
    padding: 10px;
}

#youtubeInput{
        padding: 12px 20px;
        margin: 8px 0;
    
}