 .navbar {
        background: linear-gradient(to right, rgba(186,153,255,1), rgba(108, 66, 195,1));
        font-family: 'Lato', sans-serif;
        width: 100vw;
    }
    .gear {
        font-size: 120px;
        color:white;
        margin-left: 45px;
    }
    #slogan{
        height: 10em;
    }
    
    ul{
        list-style-type: none;
        overflow: hidden;
     }
     
     li {
        float: right;
        position: relative;
     }
     
     li a {
        display: block;
        color: white;
        font-size: 50px;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        width: 100%;
     }
    
    
    /* Extra large devices (large laptops and desktops, 1200px and up) */
    @media only screen and (max-width: 1417px) {
        li a {
            display: block;
            color: white;
            font-size: 35px;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            width: 100%;
         }
    }
    
    #loginIcon{
        border-radius: 50%;
        -webkit-transition: -webkit-transform .8s ease-in-out;
        transition: transform .8s ease-in-out;
    }
    
    #loginIcon:hover {
        -webkit-transform: rotate(90deg);
                transform: rotate(90deg);
      }
    
    @media only screen and (max-width: 1227px) {
        li a {
            display: block;
            color: white;
            font-size: 30px;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            width: 100%;
         }
         #slogan{
            height: 7em;
        }
    }
    
    
    @media only screen and (max-width: 1007px) {
        li a {
            display: block;
            color: white;
            font-size: 25px;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            width: 100%;
         }
         #slogan{
            height: 7em;
        }
    }
     
    
     /* Large devices (laptops/desktops, 992px and up) */
     @media only screen and (max-width: 950px) {
        #slogan{
            height: 6em;
        }
    
          .gear {
            font-size: 90px;
            color:white;
        }
        li a {
            display: block;
            color: white;
            font-size: 25px;
            text-align: center;
            padding: 14px 14px;
            text-decoration: none;
            width: 100%;
         }
      }
    
    
     @media only screen and (max-width: 870px) {
        /* For mobile phones: */
        #slogan{
            height: 6em;
        }
        div.links {
            display: none;
          }
          .gear {
            font-size: 70px;
            color:white;
        }
      }
    
    @media only screen and (max-width: 600px) {
        /* For mobile phones: */
        #slogan{
            height: 5em;
        }
        div.links {
            display: none;
          }
          .gear {
            font-size: 70px;
            color:white;
        }
      }
    
     
    
    